<h1>Coaches Answer</h1>
<!-- <div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h1 class="text-center mb-5">Stupid Coaching</h1>
      <div> -->
      <div class="bg-light pl-3">
        <p><%= @questions %><br><em>-You</em></p>
      </div>
      <div class="bg-light pl-3">
        <p><strong><%= @answers %></strong><br><em>-Your Coach</em></p>
      </div>
      </div>
      <div class="text-center">
        <%= link_to "Ask a new question", ask_path %>
      </div>
  <!--   </div>
  </div>
</div> -->
